#PlanioToolbar-Project-Button {
  list-style-image: url("chrome://planiotoolbar/skin/planio16x16.png");
}
#PlanioToolbar-MyPage-Button {
  list-style-image: url("chrome://planiotoolbar/skin/house.png");
}
#PlanioToolbar-Overview-Button {
  list-style-image: url("chrome://planiotoolbar/skin/world_orbit.png");
}
#PlanioToolbar-Activity-Button {
  list-style-image: url("chrome://planiotoolbar/skin/sport_soccer.png");
}
#PlanioToolbar-Issues-Button {
  list-style-image: url("chrome://planiotoolbar/skin/bug.png");
}
#PlanioToolbar-NewIssue-Button {
  list-style-image: url("chrome://planiotoolbar/skin/bug_add.png");
}
#PlanioToolbar-News-Button {
  list-style-image: url("chrome://planiotoolbar/skin/rss.png");
}
#PlanioToolbar-Docs-Button {
  list-style-image: url("chrome://planiotoolbar/skin/page_white_word.png");
}
#PlanioToolbar-Wiki-Button {
  list-style-image: url("chrome://planiotoolbar/skin/user_comment.png");
}
#PlanioToolbar-Files-Button {
  list-style-image: url("chrome://planiotoolbar/skin/folder.png");
}
#PlanioToolbar-Repository-Button {
  list-style-image: url("chrome://planiotoolbar/skin/database_refresh.png");
}
#PlanioToolbar-Options-Button {
  list-style-image: url("chrome://planiotoolbar/skin/wrench.png");
}
.PlanioToolbar-Activity-Wiki-Edit {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
  list-style-image: url("chrome://planiotoolbar/skin/wiki_edit.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}
.PlanioToolbar-Activity-Changeset {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
  list-style-image: url("chrome://planiotoolbar/skin/changeset.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}
.PlanioToolbar-Activity-Feature {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
  list-style-image: url("chrome://planiotoolbar/skin/ticket.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}
.PlanioToolbar-Activity-Patch {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
  list-style-image: url("chrome://planiotoolbar/skin/ticket_checked.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}
